body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
div.tarjeta {
  width: 80%;
  height: 100%;
  font-size: 40px;
}

div .informacion {
  letter-spacing: 2px;
  padding: 10px;
  border: 3px solid #ffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div .informacion p {
  margin: 0;
  text-align: center;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
  font-weight: 600;
  width: 100vw;
  height: 100vh;
  font-family: amongUs;

  overflow-x: hidden;
}
.numero-cumple {  
  font-size: 40px;
  font-family: vcr;
  display: inline;
  color: red;
  font-weight: 600;
  margin-right: 5px;
}
.de {
  position: relative;
  font-family: amongUs;
  font-weight: 600;
  font-size: 40px;
}
.nombre {
  color: #fdd84a;
  font-size: 100px;
  display: inline;
}

.spanNumeroDe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lugar, .confirmar{
  background: black;
  margin-top: 10px;
  font-family: amongUs;
  font-size: 40px;
  color: #ffff;
  padding: 10px;
  border: 3px solid #ffff;
  border-radius: 10px;
  font-weight: 600;
}
.botones {
  display: flex;
  justify-content: space-evenly;
}
.titulo {
  text-align: center;
  margin: 0;
}

.impostor {
  width: 100%;
}

.triangulos {
  margin-bottom: 10px;
  width: 100vw;
  display: flex;
  flex-direction: row; 
  flex-shrink: 1;
}

.triangulo {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-top: 60px solid #f0ad4e;
  border-right: 30px solid transparent;
}
.azul {
  border-top: 60px solid #262dce;
}
.verde {
  border-top: 60px solid green;
}
.rosado {
  border-top: 60px solid palevioletred;
}
.amarillo {
  border-top: 60px solid yellow;
}
.morado {
  border-top: 60px solid purple;
}
.rojo {
  border-top: 60px solid red;
}

.infoDia {
  font-size: 25px;
  font-weight: 300;
  font-family: vcr;
}
.dia {
  color: red;
}

@media only screen and (min-width: 1024px) {
  .impostor {
    width: 100%;
    display: block;
    margin: auto;
  }
  div.tarjeta {
    width: 40%;
    max-width: 800px;
  }
  .titulo {
    font-size: 100px;
  }
  .informacion {
    font-size: 60px;
  }
  .numero-cumple, .de {
    font-size: 60px;
  }
  .numero-cumple {
    padding-right: 15px;
  }
  .nombre {
    font-size: 120px;
  }
  .confirmar, .lugar {
    font-size: 60px;
  }
  .infoDia {
    font-size: 30px;
    font-weight: 300;
    font-family: vcr;
  }
  
}

@font-face {
  font-family: "amongUs";
  src: url("../asset/Impostograph-Regular.ttf");
}
@font-face {
  font-family: "vcr";
  src: url("../asset/VCR_OSD_MONO_1.001.ttf");
}


#preloader {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#preloader img {
  width: 130px;
  height: 100px;
}

#preloader p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: 600;
}